@import "tailwindcss";

:root {
  --background: #f5e9da;
  --foreground: #6b4f3c;
  --accent-1: #e3b7a0;
  --accent-2: #a8b8a2;
  --accent-2-text: #3b3b33;
  --accent-3: #f2c2b1;
  --secondary-bg: #d8cfc4;
}

/* Define colors for Tailwind v4 using CSS variables */
:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent-1: var(--accent-1);
  --color-accent-2: var(--accent-2);
  --color-accent-2-text: var(--accent-2-text);
  --color-accent-3: var(--accent-3);
  --color-secondary-bg: var(--secondary-bg);
  --color-petflow-blue: #0077cc;
}

.dropdown-header {
  cursor: pointer;
  text-decoration: underline;
}
.dropdown-btn {
  text-align: left;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
}
.dropdown-btn:hover,
.dropdown-header:hover {
  background-color: var(--accent-2-text);
  color: white;
}

.ProductCardDiv {
  max-height: 400px;
}

button {
  cursor: pointer;
}
